<%
    class_definitions = Socratic::ObjectiveJ::ClassDefinition.all(params[:class_name])
    method_definitions = []

    class_definitions.each do |class_definition| 
        method_definitions += class_definition.method_definitions
    end
%>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns = "http://www.w3.org/1999/xhtml" xml:lang = "en" lang = "en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= params[:class_name] %></title>
<!--
    <link rel="stylesheet" href="/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/code.css" type="text/css" media="screen" />
-->
    </head>
    <body>
        <h1><%= params[:class_name] %></h1>
        <h2>Overview</h2>
        <h2>Public Methods</h2>
        <ul>
<% method_definitions.each do |method_definition| %>
            <li><a href = "#<%= method_definition.name%>"><%= method_definition.name %></a></li>
<% end %>
        </ul>

        <ul>
<% method_definitions.each do |method_definition| %>
            <li>
                <a name = "<%= method_definition.name %>"><h3><%= method_definition.declaration(true) %></h3></a>
                <h4>Return Value</h4>
                <h4>Parameters</h4>
                <h4>Discussion</h4>
            </li>
<% end %>
        </ul>
    </body>
</html>
